
# GitHub info
GITHUB_USER=amurphy99
GITHUB_REPO=chat_app_deployment
SETUP_REPO_BRANCH=main

# App repository info
REPO_NAME=v2_benchmarking
REPO_BRANCH=main

# URL modifier to map to (e.g. "sandbox.cognibot.org", "sandbox2.cognibot.org", etc.)
TARGET_PREFIX=sandbox

# Long random token used by CPU instances to access the LLM API
LLM_GATEWAY_TOKEN=

# Postgres
__POSTGRES_USER=
__POSTGRES_PASSWORD=

# Azure Speech 
__SPEECH_KEY=

# Google Speech
__GOOGLE_APPLICATION_CREDENTIALS=
